* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    z-index: 999;
    width: 100%;
}

.navbar li{
    list-style: none;
}

.about{
   display: flex;
   clear: both;
   height: 100vh;
   margin-top: 10vh;
}
.about-left {
    max-width: 50%;
    height: auto;
}

.about-right {
    max-width: 50%;
    height: auto;
}

.about-image {
    /* max-height: 20px; */
    display: block;
    margin: 0 auto;
    max-width: 60%;
}

.about-heading {
    font-size: 65px;
}

.about-name {
    color: rgb(140, 167, 240);
    font-size: 120px;
}

.about-me {
    margin-top: 20px;
    font-size: 30px;
    list-style: none;
    line-height: 45px;
}

.about-social {
    margin: 20px;
    align-items: center;
}
.about-social ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.about-social li{
    list-style: none;
    font-size: 50px;
}
.about-social hr{
    color: rgb(140, 167, 240);
}

.skills {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* width: 100%; */
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    font-size: 40px;
    margin: 20px;
}

.skills ul li {
    list-style: none;
}

.skill-list i {
    font-family: 'Ubuntu', sans-serif;
}

.skills-heading {
    font-size: 65px;
    display: flex;
    justify-content: center;
}

@media (max-width : 500px){
    .about{
        margin-top: 25px;
        display: block;
    }
    .about-left{
        display: block;
        max-width: 100%;
    }
    .about-right{
        display: block;
        max-width: 100%;
        padding: 10px;
    }
    .about-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .about-heading {
        margin-top: 15px;
        font-size: 35px;
    }
    
    .about-name {
        font-size: 45px;
    }
    
    .about-me {
        font-size: 20px;
        list-style: none;
        line-height: 35px;
    }

    .skills ul{
        flex-wrap: nowrap;
        flex-direction: column;
        font-size: 30px;
    }

    .skills ul li{
        margin: 10px;
    }

    .skills-heading {
        font-size: 35px;
    }

    .contact {
        font-size: 19px;
    }
}

