/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* variable css */
:root{
    /* font */
    --font1: 'Lobster', cursive;
    --font2: 'Lora', serif;
    --body-font:'Poppins',sans-serif;
    /* color */
    --first-color: indianred;
    --second-color: #0E2431;
    /* font-size */
    --big-font-size:2rem;
    --h2-font-size:1.25rem;
    --normal-font-size:0.938rem;
    --header-height:3rem;
    --font-semi:600;
}

@media screen and(min-width:768px){
    :root{
        --big-font-size:3.5rem;
        --h2-font-size:2rem;
        --normal-font-size:1rem;
    }
}
/* Margins */
:root{
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem;

}
/* z-index */
:root{
    --z-back:-10;
    --z-normal:1;
    --z-tooltip:10;
    --z-fixed:100;
}
/* Base */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color:var(--second-color);
}
h1,h2,p{
    margin:0;
}
ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height:auto;
    display: block;
}
/* Class css */
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color:var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align:center;
}
.section-title::after{
    position: absolute;
    content: "";
    width:64px;
    height:0.18rem;
    left:0;
    right:0;
    margin: auto;
    top:2rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
/* Layout */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width:calc(100%-2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:var(--z-fixed);
    background-color: #fff;
    box-shadow:0 1px 4px rgba(146,161,176,0.15);
}
/* NAV */
.nav{
    height:var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}
@media screen and (max-width:768px){
    .nav-menu{
        position: fixed;
        top:var(--header-height);
        right:-100%;
        width:80%;
        height: 100%;
        padding:2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
}
.nav-item{
    margin-bottom: var(--mb-4);
}
.nav-link{
    position:relative;
    color:#fff;
}
.nav-link:hover{
    position: relative;
}
.nav-link:hover::after{
    position: absolute;
    content: "";
    width:100%;
    height:0.18rem;
    left:0;
    top:2rem;
    background-color: var(--first-color);
}
.nav-logo{
    color: var(--second-color);
    font-size: 2rem;
    font-family: var(--font1);
}
.nav-toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}
/* Active menu  */
.active::after{
    position: absolute;
    content: "";
    width:100%;
    height:0.18rem;
    left:0;
    top:2rem;
    background-color: var(--first-color);
}
/* show menu */
.show{
    right:0;
}
/* home */
.home{
    height:calc(100vh- 3rem);
    row-gap: 1rem;
}
.home-data{
    align-self: center;
    margin-top:3rem
}
.home-title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
    font-weight: 900;
    
}
.home-title-color{
    color:var(--first-color);
}
.home-social{
    display: flex;
    flex-direction: column;
}
.home-social-icon{
    width:max-content;
    margin-bottom: var(--mb-2);
    font-size:1.5rem;
    color:var(--second-color);
}
.home-social-icon:hover{
    color:var(--first-color);
}
.home-img{
    position: absolute;
    right: 10px;
    top: 250px;
    bottom: 0;
    width:150px;
}
/* buttons */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color:#fff;
    padding: 1rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
}
.button:hover{
    box-shadow:0 10px 36px rgba(0,0,0,.15);
}
/* About */
.about-container{
    row-gap: 2rem;
    text-align: center;
}
.about-subtitle{
    margin-bottom: var(--mb-2);
}
.about-img{
    justify-self: center;
}
.about-img img{
    width:200px;
}
/* Skills */
.skills-container{
    row-gap: 2rem;
    text-align:center;
}
.skills-subtitle{
    margin-bottom: var(--mb-2);
}
.skills-text{
    margin-bottom: var(--mb-4);
}
.skills-data{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,0.15);
}
.skill-names{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skills-icon{
    font-size:2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}
.skills-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height:0.25rem;
    border-radius: 0.5rem;
    z-index:var(--z-back);
}
.skills-html{
    width:95%;
}
.skills-css{
    width:75%;
}
.skills-js{
    width:60%;
}
.skills-ux{
    width:60%;
}
.skills-img{
    border-radius: 0.5rem;
    justify-self: center;
}
.skills-img img{
    width:150px;
}
/* work */
.work{
    text-align: center;
}
.work-container{
    row-gap: 2rem;
}
.work-img{
    box-shadow: 0 4px 25px rgba(14,36,49,0.15);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 auto;
}
.work-img img{
    transition: 0.1s;
    cursor: pointer;
}
.fillheight {
    min-height: 100%; 
    width: auto;
}
.work-img img:hover{
    transform: scale(1.1);
}
/* contact */
.contact-input{
    width:100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    padding:0.5rem;
    /* border:1.5px solid var(--second-color); */
    outline: none;
    margin-bottom: var(--mb-4);
}
.contact-button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    background-color: var(--first-color);
    padding:1rem 0.5rem;
    margin: 0 auto;
    text-align: center;
}
/* Footer */
.footer{
    background-color: var(--second-color);
    color:#fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding:2rem 0;
}
.footer-title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);   
}
.footer__social{
    margin-bottom: var(--mb-4);
  }
.footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
}
/* Media Queries */
@media screen and (min-width:768px){
    body{
        margin:0 auto;
    }
    .section{
        padding-top:4rem;
        padding-bottom: 3rem;
    }
    .section-title{
        margin-bottom: var(--mb-6);
        font-size:2rem;
    }
    .section-title::after{
        width:80px;
        top:3rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav-item{
        margin-left:var(--mb-6);
        margin-bottom: 0;
    }
    .nav-list{
        display:flex;
        padding-top:0;
    }
    .nav-toggle{
        display: none;
    }
    .nav-link{
        color: var(--second-color);
    }
    .home{
        height: 100vh;
    }
    .home-data{
        align-self: flex-end;
    }
    .home{
        height: 100vh;
      }
    .home-data{
        align-self: flex-end;
      }
    .home-social{
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
      }
    .home-social-icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
      }
    .home-img{
        width: 200px;
        right:15%;
        top:20%;
        bottom: 15%;
      }
    .about-container, .skills-container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
      }
    .about-img img{
        width: 300px;
      }
    .work-container{
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: repeat(2,1fr); */
        column-gap: 2rem;
    }
    .contact-form{
        width: 360px;
      }
    .contact-container{
        justify-items: center;
      }
}
@media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home-img{
      right: 10%;
    }
    .home-title{
        font-size:4rem;
    }
  }
