.circle {
  position: absolute;
  top: -400px;
  left: 0;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(15deg, #c0392b 0%, #8e44ac 100%);
  clip-path: circle(1000px at top);
}

.hello {
  position: absolute;
  font-size: 55px;
  top: 300px;
  color: white;
  left: 350px;
}

.full {
  position: absolute;
  font-size: 25px;
  top: 380px;
  color: white;
  left: 600px;
  text-align: center !important;
}

.myButton {
  position: absolute;
  top: 450px;
  left: 680px;
  background-color: transparent;
  border-radius: 27px;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 11px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #362866;
}
.myButton:hover {
  background-color: transparent;
}
.myButton:active {
  position: relative;
  top: 1px;
}
