/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 2.5% 5%;
    text-decoration: none;
  }
  
  a:hover {
    color: #EAF6F6;
  }
  
  body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
  }
  
  .bottom-cloud {
    position: absolute;
  }
  
  .bottom-container {
    background-color: #66BFBF;
    padding: 5% 0 2.5%;
  }
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
  .chillies-image {
    float: left;
    margin-right: 5%;
    width: 25%;
  }
  
  .computer-image {
    border-radius: 100%;
    float: right;
    margin-left: 5%;
    width: 25%;
  }
  
  .camera-image {
    float: left;
    margin-right: 5%;
    width: 25%;
  }

  
  .contact-me {
    width: 30%;
    margin: 5% auto 5%;
  }
  
  .copyright {
    color: #EAF6F6;
    font-size: 50%;
    padding: 5% 0;
  }
  
  
  h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 600%;
    margin: 0 auto;
  }
  
  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
  }
  
  h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
  }
  
  hr {
    border: dotted #EAF6F6 10px;
    border-bottom: none;
    margin: 5% auto;
    width: 10%;
  }
  
  .intro {
    width: 30%;
    margin: auto;
  }
  
  .middle-container {
    margin: 5% auto 5% auto;
  }
  
  p {
      line-height: 2;
      font-family: 'Montserrat', sans-serif;
  }
  
  .skill-row {
    margin: 5% auto 5% auto;
    text-align: left;
    width: 50%;
  }
  
  span {
    text-decoration: underline;
  }
  
  .top-cloud {
    position: relative;
    left: 20%;
  }
  
  .top-container {
    background-color: #E4F9F5;
    padding-top: 2%;
  }
