body {
  text-align: center;
  background-color: #283149;
}

.ashuop{
  display:block;
  width: 100%;
  height:100vh;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

h2{
  text-align: center;
  text-shadow: 2px 2px lightpink;
  font-family: "Montserrat";
  font-weight: 800;
  color: lightblue;
  font-size: 80px;
}

h3{
  text-align: center;
  text-shadow: 1px 1px lightgrey;
  font-family: "Montserrat";
  font-weight: 400;
  color: aqua;
  font-size: 40px;
}


footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
   background-image: url("images/tom3.png");
}

.a {
   background-image: url("images/kick.png");
}

.s {
   background-image: url("images/snare.png");
}

.d {
   background-image: url("images/tom1.png");
}

.j {
   background-image: url("images/tom2.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/tom4.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
