#status{
    text-align: center;
    color: black;
}

#status.success {
    
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  