@font-face {
    font-family: 'Raiderfont';
    src: local('Raiderfont'), url('./fonts/Raiderfont.ttf') format('truetype');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Monerrat';
    font-size: 16px;
    width: 90%;
    height: 100vh;
    overflow: hidden;
  }
  
  ul {
    list-style: none;
  }
  
  .left,
  .right {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
  }
  
  .left {
    background: #7a817a;
    left: 0%;
    width: 0%;
  }
  
  .right {
    background: #3f3f57;
    right: 0%;
    width: 100%;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0 20px;
  }
  
  .nav ul li {
    display: inline-block;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
    padding: 0 30px;
  }
  
  .nav .logo {
    flex: 1;
    font-size: 18px;
    letter-spacing: 0;
  }
  
  .nav .menu {
    flex: 1;
    font-size: 18px;
  }
  
  .nav .collection {
    flex: 1;
  }
  
  .nav .explore {
    flex: 4;
  }
  
  .nav .search {
    flex: 3;
  }
  
  .nav .profile {
    flex: 0;
  }
  
  .nav .profile .img {
    background-image: url('K:\CODING\WEB DEVELP\photo_portfolioi\PicsArt_12-04-10.20.13.jpg');
    background-position: 50%;
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  
  .img-wrapper {
    position: absolute;
    bottom: 0;
    left: 180px;
  }
  
  .img-wrapper .chetan {
    background-image: url('K:\CODING\WEB DEVELP\photo_portfolioi\PicsArt_12-04-10.20.13.jpg');
    background-size: cover;
    height: 550px;
    width: 0;
  }
  
  .info {
    position: absolute;
    bottom: 0;
    left: 180px;
    background: rgba(0, 0, 0, .8);
    padding: 0 10px;
  }
  
  .info ul li {
    display: inline-block;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
  }
  
  .info i {
    font-size: 18px;
  }
  
  .text {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
  }
  
  .text h1 {
    font-size: 90px;
    color: #fff;
    font-family: 'Raiderfont';
    text-transform: uppercase;
  }
  
  .text p {
    font-size: 20px;
    color: #fff;
    font-family: monospace;
  }
  
  .name {
    position: absolute;
    top: 50%;
    left: -270px;
    transform: translateY(-50%);
    font-size: 90px;
    font-family: 'Raiderfont';
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  
  .bottomnav {
    position: absolute;
    bottom: 100px;
    right: 100px;
  }
  
  .bottomnav ul li {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
  }
  
  .bottomnav ul li:nth-child(2) {
    font-weight: bolder;
  }
  
  .bottomnav ul li:nth-child(2)::before {
    content: "";
    display: inline-block;
    border: 1px solid #fff;
    width: 65px;
    margin: 0 10px 0 -78px;
    transform: translateY(-3px);
  }